@include breakpoint(0, $mobile) {
    .burger{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        top: rem($pad-mobile);
        right: rem($pad-mobile);
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        z-index: 200;
        

        :last-child{
            width: 1.3rem;

        }

        & span{
            content: "";
            display: block;
            margin-bottom: 0.5rem;
            height: 1px;
            width: 2rem;
            background-color: $heading-workshops;
            transition: all 0.4s $ease;
        }
    }

    .burger-open{
        align-items: center;
        span{
            &:nth-child(1){
                transform: rotate(45deg) translate(0.2rem, 0.2rem);
            }
            &:nth-child(2){
                width: 2rem;                
                transform: rotate(-45deg) translate(0.2rem, -0.2rem);
            }
        }
    }
}

